div {
    height: 40px;
    width: 200px;
    background-color: #98fb98;
    border: 10px solid #2e8b57;
    border-radius: 100%;
    padding: 100px;
    margin: auto;





}

.greeting {
  color: white;
  font-family: Cursive;
  font-size: 30px;







}

.title {
    color: white;
    font-family: Cursive;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;

}

#upperleft {
    background-color: #2e8b57;
    border: 6px solid #98fb98;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    float: left;
    display: inline-block;




}

#bottomleft {
  background-color: #2e8b57;
  border: 6px solid #98fb98;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  float: left;
  display: inline-block;
  clear: left;
  margin-left: 300px;
  margin-top: -250px;


}

#upperright {
  background-color: #2e8b57;
  border: 6px solid #98fb98;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  float: left;
  display: inline;
  margin-left: 250px;
  margin-top: -250px;


}


#bottomright {
 background-color: #2e8b57;
  border: 6px solid #98fb98;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  float: right;
  display: inline;
  clear: both;
  margin-left: 250px;
  margin-top:-275px;

}
