div {
    height: 300px;
    width: 300px;
    background-color: #98fb98;
    border: 10px solid #2e8b57;
    border-radius: 100%;
    padding: 100px;
    margin: auto;
    vertical-align: middle;
    display: inline block;


}

.greeting {
    color: #006400;
    font-family: Serif;
    font-size: 50px;
    text-align: center;
    margin: auto;

}

#upperleft {
    background-color: #2e8b57;
    border: 6px solid #98fb98;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    float: left;
    display: inline block;

}

#bottomleft {
  background-color: #2e8b57;
  border: 6px solid #98fb98;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  float: left;
  display: inline block;

}
