div {
    height: 200px;
    width: 200px;
    background-color: #98fb98;
    border: 10px solid #2e8b57;
    border-radius: 100%;
    padding: 100px;
    margin: auto;
    vertical-align: middle;
    display: inline-block;


}

.greeting {
    color: #006400;
    font-family: monospace;
    font-size: 35px;
    text-align: center;
    margin: auto;
    vertical-align: middle;

}

.title {
    color: white;
    font-family: monospace;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;

}

#upperleft {
    background-color: #2e8b57;
    border: 6px solid #98fb98;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    float: left;
    display: inline-block;



}

#bottomleft {
  background-color: #2e8b57;
  border: 6px solid #98fb98;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  float: left;
  display: inline-block;
  position: relative;


}

#upperright {
  background-color: #2e8b57;
  border: 6px solid #98fb98;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  float: right;
  display: inline-block;

}


#bottomright {
 background-color: #2e8b57;
  border: 6px solid #98fb98;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  float: right;
  display: inline-block;


}
