body {
  background-color: #0000ff;
}

#L {
  height: 400px;
  width: 200px;
  background-color: #1e90ff;
  border: 10px dashed #00ffff;
  text-align: center;
  font-family: Courier;
  font-size: 350px;
  color: blue;



}

#O {
  height: 400px;
  width: 200px;
  background-color: #7fffd4;
  border: 10px solid #00008b;
  text-align: center;
  font-family: Serif;
  color: blue;
  font-size: 270px;



}

#U {
    height: 400px;
    width: 200px;
    background-color: #191970;
    border: 10px dashed #e0ffff;
    text-align: center;
    font-family: Arial;
    color: blue;
    font-size: 300px;


}

#D {



}
