body {
  background-color: #0000ff;
}

#L {
  height: 400px;
  width: 200px;
  background-color: #1e90ff;
  border: 10px dashed #00ffff;
  text-align: center;
  font-family: Courier;
  font-size: 60px;
  color: blue;



}

#O {
  height: 400px;
  width: 200px;
  background-color: #7fffd4;
  border: 10px solid #00008b;
  text-align: center;
  font-family: Serif;
  color: blue;
  font-size: 60px;



}

#U {


}

#D {



}
