h1 {
  font-family: Cursive;
  font-size: 30px;
  color: #6b8e23;
  text-align: center;
}

h2 {
  font-size: 18px;
  font-family: Cursive;
  color: #6b8e23;
  text-align: center;
}

img {

    border-radius: 100%;
    border: 8px solid #556b2f;
    text-align: center;

}




}
