body {
  background-color: #dcdcdc;

}

#small {
    background-color: #000000;
    border: 5px solid #696969;
    height: 30px;
    width: 30px;
    margin-top: 40px;
    margin-left: 40px;
    float: left;
    display: inline-block;
    z-index: 1;

}

#medium {
    background-color: #808080;
    border: 10px solid #c0c0c0;
    height: 60px;
    width: 60px;
    margin: auto;
    clear: both;
    display: inline-block;
    z-index: 2;



}

#large {
    background-color: #000000;
    border: 20px solid #ffffff;
    height: 150px;
    width: 150px;
    float: right;
    clear: both;
    display: inline-block;
    z-index: 3;



}

p {
  font-size: 48px;
  font-family: Cursive;
  color: #696969;


}
