body {
  background-color: #f0f8ff;

}

#set {
  width: 48%;
  height: 80%;
  border: 5px solid #d3d3d3;
  margin: auto;
  margin-top: 10%;
  padding: 25px;
  background-color: #696969;

}

#first {

  font-family: serif;
  font-color: #dcdcdc;
  font-size: 40%;


}

#link {
  width: 25%;
  height: 32%;
  border: 3px solid #696969;
  margin: auto;
  margin-top: 12%;
  padding: 25px;
  background-color: #d3d3d3;
  text-align: center
}


#second {
  text-decoration: none;


}
