body {
  background-color: #FFA07A;
}

#name {
  line-height: .3;
  font-family: Amaranth;
}

h1 {
  font-family: Luckiest Guy;
  text-align: center;
  margin-top: 3%;
}

#space {
  text-align: center;
  font-family: Amaranth;
}
