body {
  background-color: #f5f5f5;
}

.heading {
  font-family: Gloria Hallelujah;
  margin-left: 2%;
  margin-top: 2%;
  color: #c0c0c0;
  line-height: .2;
}

.decor {
  font-family:Amatic SC;
  font-size: 2em;
  display: flex;
  margin-left: 40%;
  margin-top: 5%;
  color:#696969;
}

.decorII {
  font-family:Amatic SC;
  font-size: 2em;
  display: flex;
  margin-left: 175%;
  margin-top: 5%;
  color:#696969;
}

.decorIII {
  font-family:Amatic SC;
  font-size: 2em;
  display: flex;
  margin-left: 360%;
  margin-top: 5%;
  color:#696969;
}


#connected {
  border: 5px dashed #F0FFFF;
  background-color: #000000;
  height: 30%;
  width: 20%;
  margin-top: 65%;
  margin-left: 500%;
  display: block;
  float: right;
  margin-right: 5%;
}

a:link {
  text-decoration: none;
  color: #696969;
}

a:hover {
  font-weight: bold;
  color: #000000;
}

a:visited {
  color: #008B8B;
}
