body {
  background-color: #f5f5f5;
}

.heading {
  font-family: Gloria Hallelujah;
  margin-left: 2%;
  margin-top: 2%;
  color: #c0c0c0;
  line-height: .2;
}

#myGrid {
  border: 1px dashed #ffffff;
  background-color: #d3d3d3;
  margin-left: 10%;
  margin-top: 10%;
  height: 40%;
  width: 60%;
  transform: rotate(45deg);
}
