body {
  background-color: #f5f5f5;
}

.heading {
  font-family: Gloria Hallelujah;
  margin-left: 2%;
  margin-top: 2%;
  color: #c0c0c0;
  line-height: .2;
}

#lines {
  border: 1px solid #F0F8FF;
  background-color: #ffffff;
  height: 30%;
  width: 50%;
  margin-top: 5%;
  margin-left: 10%;
}

.back {
  font-family: Gloria Hallelujah;
  margin-top: 0%;
  margin-left: 2%;
  color: #c0c0c0;
  font-size: .75em;
  position: fixed;
}

a:link {
  text-decoration: none;
  color: #696969;
}

a:hover {
  font-weight: bold;
  color: #000000;
}

a:visited {
  color: #008B8B;
}

#one {
  height: 10%;
  width: 1%;
  background-color: #808080;
  margin-top: 6%;
  margin-left: 11%;
  transform: rotate(13deg)
}

#two {
  height: 5%;
  width: 1%;
  background-color: #696969;
  margin-top: 13%;
  margin-left: 18%;
}


#three {
  height:
  width:
  background-color: #a9a9a9;
  margin-top:
  margin-left:
  transform: rotate(deg)
}



#four {
  height:
  width:
  background-color: #dcdcdc;
  margin-top:
  margin-left:
  transform: rotate(deg)
}



#five {
  height:
  width:
  background-color: #778899;
  margin-top:
  margin-left:
  transform: rotate(deg)

}



#six {
  height:
  width:
  background-color: #2f4f4f;
  margin-top:
  margin-left:
  transform: rotate(deg)

}



#seven {
  height:
  width:
  background-color: #000000;
  margin-top:
  margin-left:
  transform: rotate(deg)

}



#eight {
  height:
  width:
  background-color: #c0c0c0;
  margin-top:
  margin-left:
  transform: rotate(deg)

}


#nine {
  height:
  width:
  background-color:
  margin-top:
  margin-left:
  transform: rotate(deg)

}



#ten {
  height:
  width:
  background-color:
  margin-top:
  margin-left:
  transform: rotate(deg)

}



#eleven {
  height:
  width:
  background-color:
  margin-top:
  margin-left:
  transform: rotate(deg)

}


#twelve {
  height:
  width:
  background-color:
  margin-top:
  margin-left:
  transform: rotate(deg)

}


#thirteen {
  height:
  width:
  background-color:
  margin-top:
  margin-left:
  transform: rotate(deg)

}


#fourteen {
  height:
  width:
  background-color:
  margin-top:
  margin-left:
  transform: rotate(deg)

}


#fifteen {
  height:
  width:
  background-color:
  margin-top:
  margin-left:
  transform: rotate(deg)

}


#sixteen {
  height:
  width:
  background-color:
  margin-top:
  margin-left:
  transform: rotate(deg)

}


#seventeen {
  height:
  width:
  background-color:
  margin-top:
  margin-left:
  transform: rotate(deg)

}


#eighteen {
  height:
  width:
  background-color:
  margin-top:
  margin-left:
  transform: rotate(deg)

}


#nineteen {
  height:
  width:
  background-color:
  margin-top:
  margin-left:
  transform: rotate(deg)

}


#twenty {
  height:
  width:
  background-color:
  margin-top:
  margin-left:
  transform: rotate(deg)

}


#twenty-one {
  height:
  width:
  background-color:
  margin-top:
  margin-left:
  transform: rotate(deg)

}


#twenty-two {
  height:
  width:
  background-color:
  margin-top:
  margin-left:
  transform: rotate(deg)

}


#twenty-three {
  height:
  width:
  background-color:
  margin-top:
  margin-left:
  transform: rotate(deg)

}


#twenty-four {
  height:
  width:
  background-color:
  margin-top:
  margin-left:
  transform: rotate(deg)

}


#twenty-five {
  height:
  width:
  background-color:
  margin-top:
  margin-left:
  transform: rotate(deg)

}


#twenty-six {
  height:
  width:
  background-color:
  margin-top:
  margin-left:
  transform: rotate(deg)

}


#twenty-seven {
  height:
  width:
  background-color:
  margin-top:
  margin-left:
  transform: rotate(deg)

}


#twenty-eight {
  height:
  width:
  background-color:
  margin-top:
  margin-left:
  transform: rotate(deg)

}


#twenty-nine {
  height:
  width:
  background-color:
  margin-top:
  margin-left:
  transform: rotate(deg)

}


#thirty {
  height:
  width:
  background-color:
  margin-top:
  margin-left:
  transform: rotate(deg)

}


#thirty-one {
  height:
  width:
  background-color:
  margin-top:
  margin-left:
  transform: rotate(deg)

}


#thirty-two {
  height:
  width:
  background-color:
  margin-top:
  margin-left:
  transform: rotate(deg)

}


#thirty-three {
  height:
  width:
  background-color:
  margin-top:
  margin-left:
  transform: rotate(deg)

}
