body {
  font-family: Crete Round;
}

#booth {
  margin-top: -1%;
}

p {
  color: #0C0843;
}

#byline {
  color: white;
  font-size: 1.5em;
  margin-left: 1170px;
  margin-top: -145px;
}

#voted {
  font-size: 6em;
  margin-top: -850px;
  margin-left: 85px;
  color: white;
}

#count {
  font-size: 8em;
  margin-top: 330px;
  margin-left: 680px;
  color: white;
}

#photo {
  margin-top: 190px;
  margin-left: 1220px;
}

#intro {
  width: 500px;
  height: 600px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  margin-left: 400px;
  margin-top: 15px;
  margin-bottom: 100px;

}

.heading {
  color: red;
  font-size: 3em;
  margin-left: -80px;
}

#sign {
  margin-left: 1220px;
  margin-top: -30px;
}

#compare {
  background-color: #F9F8F2;
  margin-top: 40px;
  margin-left: 120px;
  display: inline-block;
  float: left;
}

#explain {
  width: 600px;
  height: 600px;
  margin-top: 150px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  display: inline-block;
  float: right;
}

#time {
  width: 500px;
  height: 600px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  margin-top: -225px;
  margin-left: 400px;
  display:inline-block;
}

#svg {
  background-color: #F9F8F2;
  margin-top: -150px;
  margin-left: 350px;
}

#ahead {
    width: 500px;
    height: 600px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    margin-left: 400px;
    margin-top: 5px;
}

#hillary {
  margin-top: 100px;
}

#woman {
  margin-left: 1220px;
  margin-top: -25px;
  color: white;
}

#break {
  float: left;
  display: inline-block;
  margin-left: 150px;
  margin-top: -225px;
  text-align: center;
}

#jones {
  float: right;
  display: inline-block;
  margin-right:150px;
  margin-top: -225px;
  text-align: center;
}

#bottom {
  display: inline-block;
  line-height: .3;
  font-size: .75em;
  margin-left: 600px;
}
