#booth {
  margin-top: -5%;
}

#voted {
  font-size: 6em;
  margin-top: -800px;
  margin-left: 100px;
  color: white;
}

#count {
  font-size: 6em;
  margin-top: 330px;
  margin-left: 800px;
  color: white;
}

#intro {
  width: 500px;
  height: 300px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
}
