#booth {
  margin-top: -1%;
}

p {
  color: #0C0843;
}

#byline {
  color: white;
  font-size: 1.5em;
  margin-left: 1170px;
  margin-top: -135px;
}

#voted {
  font-size: 6em;
  margin-top: -850px;
  margin-left: 85px;
  color: white;
}

#count {
  font-size: 8em;
  margin-top: 350px;
  margin-left: 700px;
  color: white;
}

#photo {
  margin-top: 190px;
  margin-left: 1235px;
}

#intro {
  width: 500px;
  height: 600px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  margin-left: 400px;
  margin-top: 15px;

}

.heading {
  color: red;
  font-size: 3em;
  margin-left: -80px;
}

#sign {
  margin-left: 1235px;
  margin-top: -30px;
}

#compare {
  background-color: #F9F8F2;
  margin-top: 40px;
  margin-left: 120px;
  display: inline-block;
  float: left;
}

#explain {
  width: 600px;
  height: 600px;
  margin-top: 150px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  display: inline-block;
  float: right;
}

#time {
  width: 500px;
  height: 600px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  margin-top: -225px;
  margin-left: 400px;
  display:inline-block;
}

#size {
  background-color: #F9F8F2;
  margin-top: -150px;
  margin-left: 350px;
}

#ahead {
    width: 500px;
    height: 600px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    margin-left: 400px;
    margin-top: 5px;
}

#woman {
  margin-left: 1235px;
  margin-top: -25px;
  color: white;
}
