body {
  background-color: #000000;
}

h1 {
font-family: Shrikhand;
margin-left: 12%;
margin-top: 12%;
color: #ffffff;
}

canvas {
  border: .6px solid #ffffff;
  margin-left: 25%;
  margin-top: 2%;
}
