body {
  background-color: #f8f8ff;
  margin-left: 5%;
  margin-top: 5%;
}

#lines {
  font-family: Trirong;
  margin-top: 2%;
  margin-left: 2%;
  color: #330033;
  font-size: 1.5em;
  line-height: 1;
}

#ps {
  font-family: Trirong;
  margin-left: 2%;
  margin-top: .3%;
  font-size: .70em;
  line-height: 1;
}

#makeLines {
  margin-left: 5%;
  margin-top: 2%;
}

a:link {
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

a:visited {
  color: #660033;
}
